.wrapper {
  margin: 100px 0 20px;
  background: rgba($colorBackground, 0.6);
  background-image: url('./bg-lines.svg');
  background-size: 100%;
}

.wrapperText {
  padding-top: 40px;
}

.wrapperText p {
  position: relative;
  top: -30px;
  line-height: 30px;
}

.wrapperText :global(.container) {
  width: auto;
}
