.wrapper {
  background: #fff;
  background-size: 100%;
}

.wrapperIcon img {
  width: 100%;
}

.title {
  margin-bottom: 0;
}

.xrpImage {
  width: 50%;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.wrapperText {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapperText p {
  position: relative;
  top: -30px;
  line-height: 30px;
  width: 75%;
  margin: auto;
}

.wrapperText :global(.container) {
  width: auto;
}

.buttons {
  margin-top: -20px;
  padding-top: 0;
  margin-bottom: 40px;
  color: $colorBluePrimary;
}

.buttons a {
  color: $colorBluePrimary;
}

.center {
  text-align: center;
}

.wallet {
  display: flex;
  justify-content: center;
  height: 500px;
}

.titleBuyRenew {
  text-align: center;
  padding-top: 50px;
}

.iframeRenew {
  display: flex;
  justify-content: center;
}
